<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">About</h3>
      </div>
    </div>
  </div>
</section>
<div>
  <section
    class="bgContactClr  section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="row">  <h2 class="aboutheading">The Begining</h2>
          <p>
            In 1993, a dedicated group of individuals concerned about the future
            of Indian martial arts, especially Kalarippayat of Kerala and Adi
            Murai of Trivandrum and Kanyakumari Districts, founded Nithya
            Chaithanya Kalari® in Delhi, India.
          </p>
</div>
        <div class="col-md-6">
          <img class="p-5"
            src="../../assets/images/KALARIPAYATTU.jpg"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-md-6">
         
          <h2 class="aboutheading">The Name</h2>
          <p>
            The name Nithya Chaithanya was carefully selected to reflect of the
            ancient martial art form. Nithya is a Sanskrit word which means
            ‘always or eternal.’ Chaithanya means ‘energy, consciousness,
            vitality, life, knowledge.’
          </p>

          <h2 class="aboutheading">Vision</h2>
          <p>
            Nithya Chaithanya Kalari envisaged to become an international centre
            of learning and exchange of techniques, knowledge, ideas and
            research on the martial and related healing and meditation arts.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="bgContactClr ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="aboutheading">Recognition</h2>
        <p>
          Nithya Chaithanya Kalari is the only Government Approved training
          institute in northern India and is affiliated / life member of many
          national and international Cultural Institutions in India and abroad.
          Some important affiliations are:
        </p>
      </div>
      <div class="col-md-12">
        <ul>
          <li>National Kalarippayat Federation</li>
          <li>
            Nehru Yuva Kala Sangatgan, Ministry of Youth and Sports, Government
            of India
          </li>
          <li>
            Empanelled with Indian Council for Cultural Relations and also
          </li>
          <li>
            Nithya Chaithanya Kalari has been documented by the national and
            international T.V. channels like DD Bharati, Jain T.V., MBC
            (Mauritius Broadcasting Corporation) and BBC in the quest for
            reaching the roots of Kalari.
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <p>
          Since our inception, we have conducted various performances in India &
          abroad, particularly in Delhi, for important personalities like:
        </p>
        <ul>
          <li>Late Sh. Krishna Kant, former Vice-President of India</li>
          <li>Dr. Manmohan Sigh, Hon’ble Prime Minister of India</li>
          <li>Mrs. Shiela Dixit, former Chief Minister of Delhi</li>
          <li>Dr. Balram Jakar, Governor of Madhya Pradesh</li>
          <li>Sh. Madan Lal Khurana, former Governor of Rajasthan</li>
          <li>Sh. Vijay Kapoor, former Lt. Governor of Delhi,</li>
          <li>
            Dr. G.V.G. Krishnamurthy, former Election Commissioner of India
          </li>
          <li>Mrs. Sonia Gandhi, Congress President</li>
          <li>Late Sh. Madhav Rao Scindia, former Minister of HRD</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bgContactClr ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/murganpillai.jpg" width="100%"/>
      </div>
      <div class="col-md-6">
        <h3>Profile of Kalarippayat Guru:</h3>
        <p>
          Dr. Murugan Pillai Gurukkal, Principal Teacher and the founder cum
          secretary of Nithya Chaithanya Kalari in Northern India has been
          decorated the honorary Gurukal title, signifying that he has received
          the master-ship from all his previous gurus in his lineage of this
          art. He is also the Honorary Joint Secretary in National Silambam
          Federation.
        </p>

        <p>
          Murugan Gurukal has revived the art of Kalarippayat in North India,
          gave a new life, zest of excellence, coordination and made number of
          disciples in and outside India. Murugan Pillai is one of the few
          existing people in modern times who know the ancient art of Kalari
          Marma Chikitsa (Ancient Indian Touch/Healing System) or knowledge of
          vital pressure points in the human body used in ancient warfare and
          medicinal system for treating several untreatable diseases.
        </p>

        <h5>Active Member in</h5>
        <ul>
          <li>ember in “World Martial Arts Union” USA</li>
          <li>
            Life Member in “INTACH” (Indian National Trust for Art and Cultural
            Heritage), Delhi Chapter.
          </li>
          <li>
            Life time member in “Indian Association of Sports Medicine”(IASM)
          </li>
          <li>
            Life time member in “Indian Board of Alternative Medicine” (IBAM),
            Calcutta
          </li>
          <li>
            Life time member in “World Society of Integrated Medicine” (WSIM),
            USA.
          </li>
          <li>
            Life member in “Akhila India Siddha Maruthuva Kazagam” (AISMK),
            Tamil Nadu.
          </li>
          <li>
            Life member in “The World Community of Indian Culture & Traditional
            Disciplines” (WCICTD)
          </li>
          <li>Life member in “India World Cultural Forum” (IWCF), Delhi.</li>
          <li>Coordinator, “International Self Defence Organisation” (ISDO)</li>
          <li>
            Joint Secretary, National Silambam Federation (Affiliated to World
            Silambam Federation)
          </li>
          <li>Gen. Secretary, “Delhi Kalarippayat Association” (DKA)</li>
          <li>Life member Nehru Yuva Kendra Sangathan, New Delhi</li>
        </ul>
       
      </div>
      <h4>Achievement Felicitations :</h4>
      <ul>
        <li>
          Best stage performance at Mauritius felicitated by Hon’ble President
          of Mauritius in 2009
        </li>
        <li>
          Achievement award towards contribution of promoting Kalarippayat in
          northern India – felicitated by Malayalee Welfare Association, Mayur
          Vihar Phase – III, Delhi in 2011
        </li>
        <li>
          Achievement award towards contribution of promoting Kalarippayat in
          India and abroad - felicitated by Delhi Panchavadya Trust, Delhi in
          2012
        </li>
        <li>
          Best stage performance at Delhi in 18th National Championship of
          Jeet-Kun Do- felicitated by National Jeet Kun-Do Federation in 2015.
        </li>
        <li>
          Awarded by Persatua Silambam Malaysia (Malaysian Silambam
          Association) Honorary Black Belt – Silambam in 2016.
        </li>
        <li>
          Best Stage performance in Delhi at 18th National Cultural Festival
          felicitated by India Cultural Forum, Delhi in 2016
        </li>
        <li>
          Special Honour award by M.D.D Bal Bhawan, Karnal towards
          contribution to Kalarippayat in Northern India (since 1993) in 2017.
        </li>
        <li>
          Honour Awarded by National Integrated Forum of Artists &
          Activities(NIFFA) for best stage performance in Harmony – 2017 held
          at Karnal in 2017.
        </li>
        <li>
          Achievement Award by All India Malayalee Association (AIMA) towards
          contribution to spreading Kerala Martial art in Worldwide - 2017.
        </li>
        <li>
          Achievement Award by Pravasi Bharati (Kerala) – 2018 “ Udyog Patra “
          Award – 2018.
        </li>
        <li>
          Dr. Gautam Award in 2018 by Physical Education Foundation of India.
        </li>
      </ul>
      <p>
        
        Hyderabad is the second headquarters of the NC Kalari which is
        co-founded by Kalari Shiva (Dr. sivaram bogiri), who is the chief
        trainer of NC kalari, Hyderabad. He has received the master-ship from
        his guru Dr. Murugan in his lineage of this art. He is also an MBBS, DNB
        specialist doctor in department of Anesthesia & Intensive Care.
      </p>
      <p>
        Kalari Shiva under the guidance of Murugan Guruji has expanded the art
        of Kalari in Hyderabad which is popularly called as marmakala in telugu
        speaking states. He has also completed the ancient art of Kalari Marma
        Chikitsa and knowledge of vital pressure points in the human body used
        in ancient warfare and medicinal system for treating several untreatable
        diseases. He has been promoting the art of kalari in various live stage
        performances, workshops, live demonstrations in and around Delhi from
        2015 to till date.
      </p>
    </div>
  </div>
</section>
