<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">Contact</h3>
      </div>
    </div>
  </div>
</section>

<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Call us 24/7
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  <a class="goldClr" href="tel:+12025550140">+91 8985472274</a>
                </span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Main Branch
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  Delhi</span
                ><br />
                <span class="highlight black-weight text-uppercase goldClr">
                  Hyderabad</span
                >
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Working Hours
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  6:00 AM - 10:00 PM
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="widget container mb-40 mt-20">
  <div class="contactTitle text-center">
    <h3>Get In Touch</h3>
  </div>

  <div class="row">
    <!--  <div class="col-md-3">
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="facebook-icon"
          target="_blank"
        >
        <i class="fa-brands fa-facebook"></i
          >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-facebook"></i
            ></span>
            <span class="media-name">Facebook</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-twitter-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-twitter"></i
            ></span>
            <span class="media-name">Twitter</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-google-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"><i class="fa-brands fa-google"></i></span>
            <span class="media-name">Google</span>
          </div>
        </a>
      
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-linkedin-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-linkedin"></i
            ></span>
            <span class="media-name">Linkedin</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-youtube-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-youtube"></i
            ></span>
            <span class="media-name">YouTube</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-instagram-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-instagram"></i
            ></span>
            <span class="media-name">Instagram</span>
          </div>
        </a>
      </div>
    </div> -->
    <div class="col-md-3">
      <div class="mt-20">
        <a
          target="_blank"
          href="https://www.facebook.com/nckalari"
          class="fa-brands fa-facebook"
        ></a>
        <a
          target="_blank"
          href="https://twitter.com/nckalari?lang=en"
          class="fa-brands fa-twitter"
        ></a>
        <!--  <a href="#" class="fa-brands fa-google"></a>
        <a href="#" class="fa-brands fa-linkedin"></a> -->
        <a
          target="_blank"
          href="https://m.youtube.com/watch?v=sOW9nmBWFbI&feature=youtu.be"
          class="fa-brands fa-youtube"
        ></a>
        <a
          target="_blank"
          href="https://www.instagram.com/nc_kalari/"
          class="fa-brands fa-instagram"
        ></a>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="contact-container">
        <div class="card p-10 mt-20">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-address-book goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> Delhi Address </b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a
                title="Click for directions"
                target="_blank"
                href="https://goo.gl/maps/Rwf1gPfVwk96pYNA7"
                ><i class="fa-solid fa-location-dot fa-xl"></i
              ></a>

              Mayur Vihar Phase 3 50-B, Pocket, Kendra, A-1, Mayur Vihar Phase
              III, New Delhi, Delhi 110096
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-phone goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> +91 9810781909</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-envelope goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact-container">
        <div class="card p-10 mt-20">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-address-book goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b>Hyderabad Address</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a
                title="Click for directions"
                target="_blank"
                href=" https://goo.gl/maps/aDoQV8uX2b3Pxek87"
                ><i class="fa-solid fa-location-dot fa-xl"></i
              ></a>

              Nutan Royal House, Parallel Rail Rd, Leelanaga, Ameerpet,
              Hyderabad, Telangana 500016
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-phone goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> +91 9810781909</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-envelope goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20 mb-10">
    <div class="contactTitle text-center mb-4">
      <h3>Reach us</h3>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60917.409408624815!2d78.30191497032828!3d17.395555346762922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bcb955c514538d3%3A0xa3a21c33ce037874!2skalari%20arts!3m2!1d17.4046162!2d78.3721011!5e0!3m2!1sen!2sin!4v1654415975250!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border: 0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <!-- </div>
<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Call us 24/7
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  <a class="goldClr" href="tel:+91 11 22617754"
                    >+91 11 22617754</a
                  >
                  <br />
                  <a class="goldClr" href="+91 98107 81909">+91 98107 81909</a>
                </span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Main Branch
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                  Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                  Mayur Vihar Phase-III Delhi – 110096, India</span
                >
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="space mt-30">
            <div class="special-heading text-center">
              <h6 class="transparent">
                <span class="darkblue regular text-uppercase">
                  Email Id
                </span>
              </h6>
              <h5 class="section_header margin_0">
                <span class="highlight black-weight text-uppercase goldClr">
                  <a class="goldClr" href="mailto:nckalaridelhi@gmail.com"
                    >nckalaridelhi@gmail.com</a
                  >
                  <br />
                  <a class="goldClr" href="mailto:nckalaridelhi@hotmail.com"
                    >nckalaridelhi@hotmail.com</a
                  >
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="widget container mb-40 mt-20">
  <div class="contactTitle text-center">
    <h3>Get In Touch</h3>
  </div>

  <div class="row"> -->
  <!--  <div class="col-md-3">
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="facebook-icon"
          target="_blank"
        >
        <i class="fa-brands fa-facebook"></i
          >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-facebook"></i
            ></span>
            <span class="media-name">Facebook</span>
          </div>
        </a>
      </div>

      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-twitter-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-twitter"></i
            ></span>
            <span class="media-name">Twitter</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-google-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"><i class="fa-brands fa-google"></i></span>
            <span class="media-name">Google</span>
          </div>
        </a>
      
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-linkedin-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-linkedin"></i
            ></span>
            <span class="media-name">Linkedin</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-youtube-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-youtube"></i
            ></span>
            <span class="media-name">YouTube</span>
          </div>
        </a>
      </div>
      <div class="each-profile">
        <a
          href="https://www.facebook.com/ramlal1992"
          class="fa-instagram-icon"
          target="_blank"
        >
          <div class="brands-inner-block">
            <span class="social-icon"
              ><i class="fa-brands fa-instagram"></i
            ></span>
            <span class="media-name">Instagram</span>
          </div>
        </a>
      </div>
    </div> -->
  <!-- <div class="col-md-3">
      <div class="mt-20">
        <a
          href="https://www.facebook.com/pages/Nithya-Chaithanya-Kalari-Regd/348946168457152"
          class="fa-brands fa-facebook"
        ></a>
        <a href="#" class="fa-brands fa-twitter"></a>
        <a
          href="https://plus.google.com/111848352284163756718/about"
          class="fa-brands fa-google"
        ></a>
        <a href="#" class="fa-brands fa-linkedin"></a>
        <a href="#" class="fa-brands fa-youtube"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <section class="contact-wrap row">
        <form action="" class="contact-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-block">
                <label for="">First Name</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-block">
                <label for="">Last Name</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-block">
                <label for="">Email</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-block">
                <label for="">Message Subject</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-block textarea">
                <label for="">Drop your message here</label>
                <textarea rows="3" type="text" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="square-button">Send</button>
            </div>
          </div>
        </form>
      </section>
    </div>

    <!-- <div class="col-md-4">
      <div class="contact-container">
        <div class="card p-10 mt-20">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-address-book goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> Address 1</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              1-13/202, Sri Colony<br />
              Near HP Office,<br />
              Hyderabad - 5000XX<br />
              Telengana
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-phone goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> +91 90XXXXXXX</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-envelope goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <div class="col-md-4">
      <div class="contact-container">
        <div class="card p-10 mt-20">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-address-book goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> Address 2</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              1-13/202, Sri Colony<br />
              Near HP Office,<br />
              Hyderabad - 5000XX<br />
              Telengana
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-phone goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <b> +91 90XXXXXXX</b>
            </div>
          </div>
        </div>
        <div class="card p-10 mt-10">
          <div class="row">
            <div class="col-md-2">
              <i class="fa-solid fa-envelope goldClr fa-xl"></i>
            </div>
            <div class="col-md-10">
              <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div>
  <div class="mt-20 mb-10">
    <div class="contactTitle text-center mb-4">
      <h3>Reach us</h3>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60917.409408624815!2d78.30191497032828!3d17.395555346762922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bcb955c514538d3%3A0xa3a21c33ce037874!2skalari%20arts!3m2!1d17.4046162!2d78.3721011!5e0!3m2!1sen!2sin!4v1654415975250!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border: 0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div> -->
</div>
