<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">Marma/Kalari Chikitsa</h3>
      </div>
    </div>
  </div>
</section>
<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <p>
          Kalari chikitsa or kalari treatment is an integral part of the
          kalari tradition. It is mainly used to treat sprains, fractures,
          cuts and similar injuries and was originally used as a form of
          treatment for the trainee’s injuries. Kalari medication, with its
          own brand of potent oils, unguents and different types of bandages,
          is also popular among the general public.
        </p>
        <div class="col-md-6">
        <div class="p-4">
          <img
            src="../../assets/images/kalari-treatment.jpg"
            alt=""
            width="100%"
            class="mt-50"
          />
        </div>
          
        </div>
        <div class="col-md-6">
       
          <p>
            Kalari Chikitsa has its roots in the traditional Ayurveda and the
            Siddhaveda systems practiced in South India. It is, however,
            recognized as a unique system, using indigenous medicinal
            preparations and methodologies particular only to it.
          </p>
          <h2 class="headingTitle">Prana (Energy)</h2>

          <p>
            Traditional Indian medicine teaches that the human body is composed
            not merely of physical matter, but also from subtle energy known as
            Prana. Within the physical body, fluids and nerve impulses travel
            via the circulatory and nervous systems, respectively. Within the
            subtle body, Prana travels via the Nadi channels and Chakras
            centres.
          </p>
          <p>
            The human body is a manifestation of the five basic elements i.e.
            ether, air, fire, water and earth. These elements come together in
            certain patterns known as Doshas – literally, ‘quick to go out of
            balance.’ Whilst in a balanced state, Doshas are an energy force,
            which cannot be visibly detected. When imbalanced, they manifest
            visibly in the form of wind, bile and mucus.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="bgContactClr section_padding_bottom_65 section_padding_top_40">
  <div class="container">
    <div class="row">
      <h3 class="text-center">
        Each Dosha has a primary function in the body:
      </h3>
      <div class="col-md-4 kalaricard">
        <h3 class="headingTitle">Vata</h3>
        <p>
          Air and Ether is the moving force within the body. Air moves within
          spaces inside both the body and the subtle channels – i.e.
          lungs/colon.
        </p>
      </div>
      <div class="col-md-4 kalaricard">
        <h3 class="headingTitle">Pitta</h3>
        <p>
          Fire and Water is the force of assimilation in the body. Fire in the
          body exists in the form of water – i.e. acidic fluids.
        </p>
      </div>
      <div class="col-md-4 kalaricard">
        <h3 class="headingTitle">Kapha</h3>
        <p>
          Water and Earth is the force of fluidity and stability in the body.
          Water in the body is contained by boundaries of earth – i.e. skin and
          tissues.
        </p>
      </div>
      <div class="mt-10">
        <p class="mt-10">
          In order for a person to be in good health, these forces must be
          balanced within their bodies. This principle is seen in the scientific
          concept of homeostasis where a system regulates it internal
          environment so as to maintain a stable and constant condition.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bgContactClr section_padding_bottom_65 bgred">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 >Marma (Vital Spots)</h3>
        <p>
          The final training of a student includes identification of the Marmas
          (deadly spots) in the human body.
        </p>
        <h2 class="headingTitle">Marma points illustration</h2>
        <p>
          Inside the human body, there are Marma points, also known as vital or
          pressure points. These points correspond with the nervous and
          circulatory systems, and also anatomically sensitive areas.
          Furthermore these points serve as junctions in the subtle energy
          system of the body. Any obstruction to the free flow of energy creates
          an imbalance which results in disease and discomfort.
        </p>
        <p>
          Attacking the vital spots causes the opponent to be stunned, disarmed
          or even killed, and is essential to the highest stage of training
          given by Gurukals to their most accomplished students in the Kalari.
        </p>
        <p>
          The earliest reference to vital points in combat is in the Rig Veda
          (1200 BC) where Lord Indra slays a demon by attacking his Marma with
          his divine weapon.
        </p>
        <p>
          While a martial artist uses these points to kill his opponent, the
          kalari gurukkal uses these points for balancing body and mind.
        </p>
        <p>
          Kalari chikitsa, the body of knowledge with which Gurukals treat and
          heal combat injuries by manipulating these vital points, is based on
          Marma Chikitsa, with its roots in the oldest medical practice in the
          world known as Siddha medicine, which is embodied in ancient Dravidian
          texts attributed to the sage Agastya, who occupies the same position
          as Hippocrates, in modern western medicine.
        </p>
      </div>
      <div class="container">
        <h4>
          Nithya Chaithanya Kalari Marma workshop conducted for Doctors:
          Hyderabad July 2018
        </h4>
        <p>
          Agastya identifies 108 vital points in the body and this knowledge is
          gained by the most exceptional students through dedicated study under
          their Masters. Only those students who can demonstrate great yogic
          ability and control of the mind are imparted this knowledge, to avoid
          the remotest possibility of any misuse of such great powers.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bgContactClr section_padding_bottom_65">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br /><br />
        <h4>Kalari Massage</h4>
      </div>
      <p>
        Combat situation demands an extremely agile, strong, and supple body,
        which would instantly respond to the focused mind. The ancient martial
        artists (warriors) used Kalari massage to prime their bodies and
        sharpen reflexes. Massage helps the body attain a healthy constitution
        as well as flexibility, nimbleness, and suppleness. 
      </p>
      <div class="col-md-6" >
        <div class="p-4">
        <img src="../../assets/images/kalari-massage-kerla.jpg" alt="" width="100%"/>
      </div>
      </div>
      <div class="col-md-6">
       <p>Moreover, massage
        can improve mental alertness and attention span by reducing tension
        and calming the mind. Kalari massage can keep one disease-free, and in
        a state of positive health.</p>
        <p>
          Marma Chikitsa, considered by many to be more effective than Ayurveda,
          employs medicinal oils and herbal preparations to treat a wide range
          of diseases through manipulation and massage techniques so
          sophisticated, that they are unmatched even in this modern age.
        </p>
        <p>
          This form of therapy is used to give flexibility, agility, and
          suppleness to Kalari students, to correct and cure orthopedic
          deformities and injuries and rheumatoid disorders.
        </p>
        <p>
          Marma Chikitsa is also a complete naturalistic healing system to
          rejuvenate the body by eliminating toxic imbalances and to restore
          resistance and good health in the highly stressful environment of
          modern times.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bgContactClr section_padding_bottom_65 bgred">
  <div class="container">
    <div class="row">
      <strong
        >There are three types of Kalari massages, used for different
        purposes.</strong
      >

      <h4>Sukha Thirummu (physical comfort)</h4>

      <p>
        This system of massage relieves the body from aches and muscular pains,
        and also provides physical relaxation and rejuvenation. Katcha Thirummu
        (physical endurance and flexibility) This is given to increase a
        person’s flexibility and physical endurance and is particularly
        efficacious for those who practice martial arts and dance forms. It
        gives flexibility and suppleness to the body. This form of massage is
        combined with different yoga postures.
      </p>
    </div>

    <h4>Raksha Thirummu (healing)</h4>

    <p>
      This massage is for healing. Different ailments require specific massage
      techniques, which the masseur selects keeping the individual’s condition
      in mind. The speed, force, number of strokes, the type of herbal oil to be
      used, and the system of massage will vary depending on the patient’s
      physical strength, age, and ailment.
    </p>
    <p>
      For treatment or to get maximum benefits out of the massages, it is
      usually given as course for 7, 9, 11, or 14 days.
    </p>
  </div>
</section>
<section class="bgContactClr section_padding_bottom_65">
  <div class="container">
    <br />
    <br />
    <div class="row text-center">
      <h4>Advantages of a Massage</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          Patients suffering from problems such as rheumatism, paralysis, back
          pain, slip disk, blood pressure, muscular problems, headaches, nervous
          weakness, stomach trouble, asthma, anxiety, weakness, irritability or
          agitation, can get relief through massages.
        </p>
        <p>
          It is useful to promote sleep, for calming psychotic individuals,
          gives rest and relief to depressed patients or individuals with
          withdrawal symptoms. Massages improve immunity, self-confidence, and
          will power.
        </p>
        <p>
          After a massage, bones, muscles, and the nervous system works more
          efficiently. Hence a massage is particularly good for the elderly. A
          massage can improve blood circulation, which helps clean the
          impurities collected at different points in the body through outlets
          like breath, sweat, stools, and urine. Massage increases body
          flexibility. A massage is especially good when the skin has lost its
          vitality due to exposure to sun and pollution or due to chronic
          diseases. Organs like kidney, rectum, lungs, liver, and small
          intestine are strengthened and can work more efficiently as a result
          of a good massage. Fatty deposits can be eliminated by breaking them
          down.
        </p>
      </div>
      <div class="col-md-6">
        <div class="p-4">
        <img
          src="../../assets/images/advantageskalari.jpg"
          width="100%"
          height="auto"
        />
      </div>
      </div>
    </div>
  </div>
</section>
<section class="bgContactClr section_padding_bottom_65">
  <div class="container">
    <div class="row">
      <h4>Kalarichikitsa Treatments</h4>
      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Abhyanga</h5>
          <p>
            Abhyanga is a full-body oil massage designed to stimulate the
            circulatory, nervous and lymphatic systems. Inflammatory blocks on
            Marma points are located and corrected, thus restoring the natural
            equilibrium of the body. Abhyanga also has a healing, cleansing, and
            revitalizing effect on the body which improves flexibility and
            realigns both the joints and the spine.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Anga Dhara</h5>
          <p>
            Anga Dhara, also known as an oil bath is a rejuvenating experience.
            Liters of warm oil is poured over the body, while a gentle massage
            is performed. The body becomes fully relaxed and all tension and
            stiffness are simply washed away. The effect of the warm oil is the
            opening of the pores of the skin and the relaxation of the muscular
            tissues. This facilitates the body’s release of accumulated toxins,
            which are simultaneously removed by the flow of oil.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Shiro Dhara</h5>
          <p>
            Shiro Dhara, also known as a head bath, is a gentle and powerful
            treatment. Warm oil is poured from a hanging pot onto the forehead
            and scalp, which are massaged gently. Many toxins are released from
            the scalp and are carried away by the flow of the oil. This
            treatment is so relaxing it can often send people into a deep sleep.
            They awake feeling refreshed and rejuvenated.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Kizhi</h5>
          <p>
            A Kizhi is a bundle of medicinal herbs which is heated in oil and
            applied to the body. It is often combined with Anga Dhara's body
            massage for maximum effect. The hot oil activates the medicine
            within the Kizhi, and the heat stimulates and relaxes the body.
            Kizhis are used to remove inflammatory blocks and improve
            circulation and flexibility in joints and muscles.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Cheriya Avi</h5>
          <p>
            Cheriya Avi is a localized steam treatment used in combination with
            the Abhyanga body massage. The action of the steam on the skin helps
            to relieve stiffness, thus reducing pain and swelling. Medicinal
            herbs are added to the water to maximize the benefit to the patient.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Valiya Avi</h5>
          <p>
            Valiya Avi is a full body steam treatment that is performed in a
            closed room. A great variety of medicinal herbs are added to a large
            clay pot of water, which is then boiled over a natural wood fire.
            The steam is carried through pipes into the room in which the
            patient sits. The effect of the steam causes the body to sweat
            profusely, thus removing large amounts of toxins. Besides, the
            medicine in the steam is inhaled by the patient. This is a powerful
            detoxifying treatment.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Poochu Chikitsa</h5>
          <p>
            Poochu Chikitsa is a powerful detoxifying treatment. The body of a
            patient is covered in a medicinal paste that is both stimulating and
            invigorating. They are then wrapped in banana leaves and placed in
            the sun. The combination of the medicinal paste, the banana leaves,
            and the warmth of the sun causes the pores of the skin to open. This
            allows the body to release toxins through the skin and also to
            absorb the medicine. This is an extremely purifying healing
            treatment.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Virechanam</h5>
          <p>
            Virechanam is best performed at a specific stage during a treatment
            package to remove toxins that have been released by the stimulation
            of the deep tissue of the body. This medicine is a specific
            combination of Ayurvedic medicines designed to purge the digestive
            system. The effect of this medicine is to clear from the body all
            accumulated toxins in the form of Mala (the residue of undigested
            food). This treatment is a very effective detoxifying and healing
            process for the body. This is especially true for people who have
            water retention problems in the body.
          </p>
        </div>
      </div>

      <div class="col-md-4 justify-content">
        <div class="treatcards">
          <h5>Chavutti Thirummal</h5>
          <p>
            Chavutti Thirummal is a full body oil massage performed using the
            feet. The practitioner supports himself by a rope suspended from the
            ceiling. This type of treatment allows for long powerful movements
            that cover the whole body. This is a specialty of Kalari Chikitsa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
