<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">Branches</h3>
      </div>
    </div>
  </div>
</section>
<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Kalari Training</h3>
        </div>
        <div class="row">
         
          <div class="col-md-3">
            <div class="card p-10 scrollCard">
              <div class="row" (click)="scroll(telenganaBranches)">
                <div class="col-md-2">
                  <i class="fa-solid fa-scroll goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Telengana</b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-10 scrollCard">
              <div class="row" (click)="scroll(delhiBranches)">
                <div class="col-md-2">
                  <i class="fa-solid fa-scroll goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Delhi </b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-10 scrollCard">
              <div class="row" (click)="scroll(otherBranches)">
                <div class="col-md-2">
                  <i class="fa-solid fa-scroll goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Haryana </b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-10 scrollCard">
              <div class="row" (click)="scroll(otherBranches)">
                <div class="col-md-2">
                  <i class="fa-solid fa-scroll goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Uttar Pradesh</b>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-left" #telenganaBranches>
          <h4>Telengana Branches</h4>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Sainikpuri </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/kn8Vu9LZ4ARARqtg6"><i class="fa-solid fa-location-dot fa-xl"></i></a>
                  Netaji Subhash Chandra Bose Play Ground, Defence Colony, Sainikpuri, Secunderabad, Telangana 500094
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274 </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Leela nagar </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/9fxpiGi4iDLV8zck8"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  CFR3+MG3, Parallel Rail Rd, Jamuna Tirth, Begumpet, Hyderabad,
                  Telangana 500016
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b>Chandanagar branch </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/ew8phyQUbe3Jh1wa7"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  101, Friends Colony, Jawahar Colony, Chanda Nagar, Hyderabad,
                  Telangana 500133
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Ameerpet branch </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                 
                  <a title="Click for directions" target="_blank" href=" https://goo.gl/maps/QYov4kEcDgdnwZLB6"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  senior citizens park, Ameerpet, Hyderabad, Telangana
                  500018
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> SUNCITY branch </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10"> 
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/Lu8p5ULxfnhZLH8a6"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  Sun City, Bandlaguda Jagir, Hyderabad, Telangana 500091
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Ramanthapur branch  </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10"> 
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/BU7yB35UuduRBDCo9"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  Ghmc temple ground Hanuman temple
                  Venkat Reddy Nagar, Gaddi annaram, Hyderabad, Telangana 500013
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-20">
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Tarnaka branch </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">  
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/Lg353B1qQgUpL8oh7"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  12-13-834, Keemti Colony, Gokul Nagar, Tarnaka, Secunderabad,
                  Telangana 500007
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b>Sitharambagh Branch  </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">  
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/9p9MYR4DhHnN1bpa8"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  SRI JAGANNATH MATH,12-1-482, behind SITARAMABGH, Shyam Nagar, Asif Nagar, Hyderabad
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b>Manikonda branch</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/zCyTWWRHEbcSemjG8"><i class="fa-solid fa-location-dot fa-xl"></i></a>
                
                  202, 37/B, Sri Laxmi Nagar Colony, Manikonda Jagir, Telangana 500089
                  
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-20">
      
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b>Somajiguda branch</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/2eAg1TnT7wV7ooKh8"><i class="fa-solid fa-location-dot fa-xl"></i></a>
                
                  Alekhya Villa apartments , 6-3-883/A/9, Punjagutta Officers Colony,Somajiguda, Hyderabad, Telangana 500082
                  
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b>KPHP branch</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/Mhyaw4vMgHvmZ26e9"><i class="fa-solid fa-location-dot fa-xl"></i></a>
                
                   9th Phase, VNR Residency, Hyderabad, Telangana-500085
                  
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" #delhiBranches>
      <div class="row">
        <div class="col-md-12 text-left">
          <h4>Delhi Branches</h4>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Mayur Vihar Phase 3 </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/Rwf1gPfVwk96pYNA7"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  50-B, Pocket, Kendra, A-1, Mayur Vihar Phase III, New Delhi,
                  Delhi 110096
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 9810781909 </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Preet Vihar (NarenJayan Studio) </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/FHswPv8Mk116pVnW8"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  House Number 53, Block C, Bharati Artist Colony, Preet Vihar,
                  New Delhi, Delhi 110092
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Dilshad Garden (Dilshad Garden Ayyappa Sewa Samithi) </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/Yoq6gU7xwYbP7q2X6"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  M8M9+XJR, Block Q, Dilshad Garden, Delhi, 110095
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Dwaraka (Mannam International Centre) </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/sXKkRiHEdoh56waVA"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  Plot No.3, Institutional Area, Sector 11 Dwarka, Dwarka,
                  Delhi, 110075
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 01128082726 </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Other branches -->
    <div class="container" #otherBranches>
      <div class="row">
        <div class="col-md-12 text-left">
          <h4>Other Branches</h4>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Gurugram(Aravindam Foundation),Haryana </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/4RuWjuGJi6wEozwy5"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  Waterworks C1 Palam Vihar, Krishna Chowk, near Spanish Court, Palam Vihar, Gurugram, Haryana 122017
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 09810781909 </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10 mb-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Ghaziabad, Uttar Pradesh </b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a title="Click for directions" target="_blank" href="https://goo.gl/maps/qkaedvqJzV8bcC5t8"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                  Plot no 33 ground floor, Shakti Khand III, Indirapuram, Ghaziabad, Uttar Pradesh 201014
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 8985472274</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

       
      </div>

    
    </div>
  </section>
</div>

<section class="bgContactClr section_padding_bottom_65 bgred">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Chikitsa Center</h3>
      </div>
    
      <!-- <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Delhi
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Hydrabad
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Kerla
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div> -->

      <div class="col-md-4 text-black card-o bs-w">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Nithya Chaithanya Kalari - Ayurveda Kendram, Hyderabad </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10"> 
                <a title="Click for directions" target="_blank" href=" https://goo.gl/maps/aDoQV8uX2b3Pxek87"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                Nutan Royal House, New Leela Nagar, Parallel Rail Rd, Leelanaga,
                Ameerpet, Hyderabad, Telangana 500016
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 9810781909 </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10 mb-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-black card-o bs-w">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Nithya Chaithanya Kalari - Ayurveda Kendram, Hyderabad </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10"> 
                <a title="Click for directions" target="_blank" href=" https://goo.gl/maps/aDoQV8uX2b3Pxek87"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                Nutan Royal House, New Leela Nagar, Parallel Rail Rd, Leelanaga,
                Ameerpet, Hyderabad, Telangana 500016
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 9810781909 </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10 mb-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-black card-o bs-w">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Nithya Chaithanya Kalari - Ayurveda Kendram, Hyderabad </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10"> 
                <a title="Click for directions" target="_blank" href=" https://goo.gl/maps/aDoQV8uX2b3Pxek87"><i class="fa-solid fa-location-dot fa-xl"></i></a>

                Nutan Royal House, New Leela Nagar, Parallel Rail Rd, Leelanaga,
                Ameerpet, Hyderabad, Telangana 500016
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 9810781909 </b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10 mb-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
