<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">Branches</h3>
      </div>
    </div>
  </div>
</section>
<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Kalari Training</h3>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Address 1</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  1-13/202, Sri Colony<br />
                  Near HP Office,<br />
                  Hyderabad - 5000XX<br />
                  Telengana
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 90XXXXXXX</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Address 2</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  1-13/202, Sri Colony<br />
                  Near HP Office,<br />
                  Hyderabad - 5000XX<br />
                  Telengana
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 90XXXXXXX</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-o">
          <div class="contact-container">
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-address-book goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> Address 3</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  1-13/202, Sri Colony<br />
                  Near HP Office,<br />
                  Hyderabad - 5000XX<br />
                  Telengana
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <b> +91 90XXXXXXX</b>
                </div>
              </div>
            </div>
            <div class="card p-10 mt-10">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-envelope goldClr fa-xl"></i>
                </div>
                <div class="col-md-10">
                  <a href="mailto:kalariarts@gmail.com">
                    kalariarts@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </div>
  </section>
</div>

<section class="bgContactClr section_padding_bottom_65 bgred">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Chikitsa Center</h3>
      </div>
      <!-- <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Delhi
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Hydrabad
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space mt-30">
          <div class="special-heading text-center">
            <h6 class="transparent">
              <span class="darkblue regular text-uppercase">
                Kerla
              </span>
            </h6>
            <h5 class="section_header margin_0">
              <span
                class="highlight black-weight text-uppercase goldClr text-white"
              >
                Nithya Chaithanya Kalari (Regd.) Kalarippayattu Martial Arts
                Academy and Marma Research Centre 50-B, Pocket A-1, LIG Flats,
                Mayur Vihar Phase-III Delhi – 110096, India</span
              >
            </h5>
            <button class="btn btn-warning">View Map</button>
          </div>
        </div>
      </div> -->

      <div class="col-md-4 text-black card-o">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Address 1</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                1-13/202, Sri Colony<br />
                Near HP Office,<br />
                Hyderabad - 5000XX<br />
                Telengana
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 90XXXXXXX</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-black card-o">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Address 2</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                1-13/202, Sri Colony<br />
                Near HP Office,<br />
                Hyderabad - 5000XX<br />
                Telengana
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 90XXXXXXX</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-black card-o">
        <div class="contact-container">
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-address-book goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> Address 3</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-dot goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                1-13/202, Sri Colony<br />
                Near HP Office,<br />
                Hyderabad - 5000XX<br />
                Telengana
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-phone goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <b> +91 90XXXXXXX</b>
              </div>
            </div>
          </div>
          <div class="card p-10 mt-10">
            <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-envelope goldClr fa-xl"></i>
              </div>
              <div class="col-md-10">
                <a href="mailto:kalariarts@gmail.com"> kalariarts@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
