<section
  class="page_breadcrumbs ds section_padding_40 background_cover section_overlay"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="breadcrumbs-title">Kalarippayattu Training</h3>
      </div>
    </div>
  </div>
</section>
<div>
  <section
    class="bgContactClr section_padding_bottom_65 section_padding_top_40"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         
          <p>
           <span class="fw-bold"> K</span>alarippayattu is more than just fighting. It encompasses an entire
            way of life, incorporating physical fitness, mental stability,
            spiritual awareness, healing, and meditation. A true Kalari warrior
            does not cause harm to opponents. And if any harm is caused, he must
            also be able to treat and cure the injured.
          </p>

          <h3 >Stages</h3>

          <h5>Combat training can be divided into four categories:</h5>

          <ul>
            <li>Neither (Physical exercise)</li>
            <li>Kothari (Wooden weapon fight)</li>
            <li>Ankathari (Iron/steel weapon)</li>
            <li>Verunkai Prayogam (Unarmed combat)</li>
          </ul>

          <p>
            Kalarippayattu training aims at the ultimate co-ordination of the
            mind and body. The traditional training in Kalari includes
            specialization in indigenous medical practice too. Kalaris are also
            centers of religious worship. The general guidelines to be followed
            in Kalarippayat demand that once the course is complete, a person
            should undergo oil massage and engage in the practice of the feats
            regularly to help him keep in shape.
          </p>
        </div>

        <div class="col-md-6">
          <br />
          <img
            src="../../assets/images/kalaripayattu-500x500.png"
            alt=""
            width="100%"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<section class="bgContactClr section_padding_bottom_65 bgred">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <p>
          The historical antecedents of this martial art form combine indigenous
          Dravidian systems of martial practice such as Varma at or marma with
          an influence of Aryan Brahmin culture which migrated southwards down
          the west coast of India into Kerala. There are two distinct traditions
          in Kalarippayat -the Northern and the Southern schools.
        </p>
        <p>
          Kalaripayattu is an Indian martial art and fighting style that
          originated in Kerala. Kalaripayattu is held in high regard by martial
          artists due to its long-standing history within Indian martial arts.
          It is the oldest surviving martial art in the world
        </p>
      </div>
      <div class="col-md-12">
        <img src="../../assets/images/kalaripatu.jpg" alt="" width="100%" />
      </div>
    </div>
  </div>
</section>
