/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ccc;

}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

img,
svg {
  vertical-align: middle;
  
}

.goldClr {
  /*  color: #eebc1d; */
  color: #ff0145;
}

.mt-10 {
  margin-top: 10px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.p-10 {
  padding: 10px;
}

.p-25 {
  padding: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-10{
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mr-20 {
  margin-right: 20px;
}

.txt-white {
  color: #fff !important;
}

.txt-grey {
  color: #ccc;
}
body::-webkit-scrollbar {
  width: 4px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}


.treatcards::-webkit-scrollbar {
  width: 1px;
}
 
.treatcards::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.treatcards::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}