<section>
  <div class="row main-banner" style="background: #fff;">
    <div class="col-md-6">
      <h3 class="aux-modern-heading-secondary">
        <span class="aux-head-before">&nbsp;NC&nbsp;&nbsp;</span
        ><span class="aux-head-highlight">&nbsp;KALARI</span>
      </h3>
      <section class="aux-widget-modern-heading">
        <div class="aux-widget-inner">
          <h2 class="aux-modern-heading-primary">
            Dr. Murugan Pillai Gurukkal
          </h2>
          <div class="aux-modern-heading-divider"></div>
          <div class="aux-modern-heading-description">
            <p>
              Principal Teacher and the founder cum secretary of Nithya
              Chaithanya Kalari in Northern India
            </p>
          </div>
        </div>
      </section>
      <a href="/about"><button class="learnmorebtn">Learn More</button></a>
      <div
        class="aux-widget-icon-list-inner widget-container aux-widget-icon-list"
      >
        <ul class="aux-icon-list-items aux-direction-horizontal">
          <li
            class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-f92a537 elementor-repeater-item-f92a537"
          >
            <span class="aux-icon-list-text">Follow Us</span>
          </li>
          <li
            class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-6ec04b1 elementor-repeater-item-6ec04b1"
          >
            <a
              class="aux-icon-list-link"
              href="https://www.facebook.com/nckalari"
              ><img
                src="../../assets/images/facebook.png"
                alt="facebook"
                class="socialicon"
            /></a>
          </li>
          <li
            class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-c2ea46e elementor-repeater-item-c2ea46e"
          >
            <a
              class="aux-icon-list-link"
              href="https://twitter.com/nckalari?lang=en"
              ><img
                src="../../assets/images/twitter.png"
                alt="twitter"
                class="socialicon"
            /></a>
          </li>
          <li
            class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-77fd4fa elementor-repeater-item-77fd4fa"
          >
            <a
              class="aux-icon-list-link"
              href="https://www.instagram.com/nc_kalari/"
              ><img
                src="../../assets/images/Instagram.png"
                alt="pinterest"
                class="socialicon"
            /></a>
          </li>
          <li
            class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-02515c6 elementor-repeater-item-02515c6"
          >
            <a
              class="aux-icon-list-link"
              href="https://m.youtube.com/watch?v=sOW9nmBWFbI&feature=youtu.be"
              class="socialicon"
              ><img
                src="../../assets/images/youtube.png"
                alt="youtube"
                class="socialicon"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="sb-ilustration-fix">
        <div class="sb-illustration-1-2">
          <img
            src="../../assets/images/kalari-guruji.png"
            alt="kalari"
            class="sb-food-1"
          />
          <div class="sb-cirkle-2">
            <img
              src="https://demo.phlox.pro/corporate-pro/wp-content/uploads/sites/150/2020/01/Path_1348.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slider-section">
  <div class="row product-slider">
    <div class="col-md-4">
      <section class="aux-widget-modern-heading">
        <div class="aux-widget-inners">
          <h3 class="aux-modern-heading">
            <span class="aux-head-highlight txt-white">Our CLASSES</span>
          </h3>
          <h2 class="aux-modern-heading-primary txt-white">
            Our Featured Classes
          </h2>
          <div class="aux-modern-heading-description txt-white">
            <p>
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-8">
      <div>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card card-h bg-yellow txt-white">
              <section class="card-inside">
                <div class="row p-25">
                  <div class="col col-wrap">
                    <h3>Kalari Training</h3>
                    <h6 class="txt-white">Self Defence Classes</h6>
                    <div class="b-read txt-white">
                      <a [routerLink]="['/kalaritraining']">
                        <button class="btn btn-info">Read More</button></a
                      >
                      <!--  <a href="/kalarichikitsa">Read More</a> -->
                    </div>
                  </div>
                </div>
                <div class="shape shape-p"></div>
              </section>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card card-h bg-black txt-white">
              <section class="card-inside">
                <div class="row p-25">
                  <div class="col col-wrap">
                    <h3>Weapon Training</h3>
                    <h6 class="txt-grey">Special Weapon Training Program</h6>
                    <div class="b-read txt-white">
                      <a [routerLink]="['/kalaritraining']">
                        <button class="btn btn-info">Read More</button></a
                      >
                      <!--  <a href="/kalarichikitsa">Read More</a> -->
                    </div>
                  </div>
                </div>
                <div class="shape shape-p"></div>
              </section>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card card-h bg-darkPink txt-white">
              <section class="card-inside">
                <div class="row p-25">
                  <div class="col col-wrap">
                    <h3>Marma Chikitsa for Patients</h3>
                    <h6 class="txt-grey">
                      More than 6 clinics available in india
                    </h6>
                    <div class="b-read txt-white">
                      <a [routerLink]="['/kalarichikitsa']">
                        <button class="btn btn-info">Read More</button></a
                      >
                    </div>
                  </div>
                </div>
                <div class="shape shape-p"></div>
              </section>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card card-h bg-black txt-white">
              <section class="card-inside">
                <div class="row p-25">
                  <div class="col col-wrap">
                    <h3>Workshop</h3>
                    <h6 class="txt-grey">Kalari & Marma Chikitsa</h6>
                    <div class="b-read txt-white">
                      <a [routerLink]="['/kalarichikitsa']">
                        <button class="btn btn-info">Read More</button></a
                      >
                    </div>
                  </div>
                </div>
                <div class="shape shape-p"></div>
              </section>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<div class="videosection">
  <iframe
    width="900"
    height="500"
    src="https://www.youtube.com/embed/VyyIFRccCzk"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<section class="testimonials">
  <div class="container mt-5 mb-10">
    <h3><i>What People Says -</i></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial-1 rounded">
          <img class="mb-3" src="../../assets/images/quo.png" width="40" />
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled <br /><br />
          </p>
          <div class="d-flex flex-row align-items-center">
            <img
              class="rounded-circle"
              src="assets/images/man.png"
              width="40"
            />
            <div class="ml-2 about">
              <span class="d-block name">Ramlal</span
              ><span class="place">MERN Developer, Hyderabad, India</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-2 rounded">
          <img class="mb-3" src="assets/images/quo.png" width="40" />
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled<br /><br />
          </p>
          <div class="d-flex flex-row align-items-center">
            <img
              class="rounded-circle"
              src="assets/images/man.png"
              width="40"
            />
            <div class="ml-2 about">
              <span class="d-block name">Prathap</span
              ><span class="place-2">Fullstack Developer, Banglore, India</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
